<div class="h-100 sidebar">
  <p class="h6 text-white">Filtros De Busqueda</p>
  <hr class="border-light">
  <ul class="list-group m-2 overflow-hidden list-border">
    <li class="list-group-item list-group-item-action list-item-click"
        routerLinkActive="item-true"
        [routerLinkActiveOptions]="{exact:true}"
        routerLink="">por pais
    </li>
    <li class="list-group-item list-group-item-action list-item-click"
        routerLinkActive="item-true"
        routerLink="region">por region
    </li>
    <li class="list-group-item list-group-item-action list-item-click"
        routerLinkActive="item-true"
        routerLink="capital">por capital
    </li>
  </ul>
</div>
